
div.playlist {

}


div.song button {
    cursor: pointer;
    text-align: left;
    width: calc(100% - 30px);
    height: 58px;
    background-color: #CCC;
    color: #999;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #AAA;
    border-right:none;
    border-radius: 7px 0 0 7px;
    transition: all 0.3s;
}

div.song button:hover {
    background-color: #EFE;
}


div.song.active button {
    background-color: #EEE;
    color: #000;
}



div.playlist div.song button.delete {
    text-align: left;
    width:30px;
    background-color: #EEE;
    border-right: solid 1px #AAA;
    border-radius: 0 0 0 0;
    text-align:center;
}


div.playlist div.song button.delete:hover {
    background-color: #FEE;
}


div.playlist div.song button.add {
    display:none;
}


div.song button img {
    height:52px;
    float: left;
    margin-right: 4px;
    transition: all 0.3s;
}









div.searchBox div.song button.add {
    text-align: left;
    width:30px;
    background-color: #EEE;
    border-right: solid 1px #AAA;
    border-radius: 0 0 0 0;
    text-align:center;
}


div.searchBox div.song button.delete {
    display:none;
}



div.searchBox div.list {
    margin-top: 16px;
    height: 250px;
    overflow:auto;
}

div.searchBox input {
    width:100%;
    border-radius: 16px;
    border: solid 1px #AAA;
    padding: 8px;
    font-size: 16px;
}

div.searchBox button {
    border-radius: 7px 0px 0px 7px;
}


div.control {
    text-align:center;
}

div.control .trigger {
    margin: 0 16px 0 16px;
    cursor: pointer;
    transition: all 0.3s;
    vertical-align:middle;
    display: inline-block;
    color:#AAA;
    font-size: 30px;
}


div.control .trigger.fa-play{

}



div.control .trigger:hover {
    color:#FFF;
}